<h2>Educación</h2>

<section class="academic-training" id="academic-training">
	<h3>Formación Academica</h3>

	<div class="academic-training-card">
		<h4>Fundación Forge | <span>Noviembre 2025 - Diciembre 2025</span></h4>

		<p>Actualmente en curso para obtener habilidades laborales</p>

		<p>Entrenamiento enfocado en el mundo laboral</p>
	</div>

	<div class="academic-training-card">
		<h4>Fundación Forge | <span>Febrero 2025 - Noviembre 2025</span></h4>

		<p>Curso intensivo para pulir y mejorar mi nivel de Ingles</p>

		<p>Enfocado en obtener un nivel B2 de TOEFL IBT</p>
	</div>

	<div class="academic-training-card">
		<h4>Ingenieria en Tecnologías de la información | <span>Julio 2022 - Agosto 2025</span></h4>

		<p>Actualmente en espera de mi titulo profesional</p>

		<p>Enfocado en el desarrollo de Software y soluciones corporativas</p>
	</div>
</section>

<section class="credentials-content credentials-container">
	<h4>Certificaciones</h4>
	<p>Linguaskill B1 | <span>Dominio del Inglés (2024)</span></p>

	<p><span>MICROSOFT OFFICE SPECIALIST (MOS) | 2019</span></p>
	<ul>
		<li><p>Excel | <span>Diciembre 2019</span></p></li>
		<li><p>Word | <span>Octubre 2019</span></p></li>
		<li><p>PowerPoint | <span>Septiembre 2019</span></p></li>
	</ul>
</section>

<section class="professional-development-content">
	<h4>Desarrollo Profesional</h4>

	<div class="professional-development-card">
		<h5>Participación en el Cluster Automotriz | Universidad Tangamanga</h5>

		<p>Enfocado en las tendencias tecnologicas del sector automotriz</p>
	</div>
</section>