<h2 data-translate="education.title">Educación</h2>

<section class="education-filter filter">
    <button class="preparation-btn active" id="preparation-btn" data-translate="education.filterPreparation">Preparación</button>
    <button class="certificates-btn" id="certificates-btn" data-translate="education.filterCertificates">Certificados</button>
</section>

<div class="education-content">
    <section class="preparation-content active" id="preparation-content">
        <h4 data-translate="education.preparation.title">Formación Académica</h4>

        <div class="academic-training-card">
            <h4><span data-translate="education.forge.name">Fundación Forge</span> | <span data-translate="education.forge.period">Noviembre 2025 - Diciembre 2025</span></h4>
            <p data-translate="education.forge.current">Programa de desarrollo de competencias profesionales</p>
            <p data-translate="education.forge.focus">Especialización en habilidades para el entorno laboral corporativo</p>
        </div>

        <div class="academic-training-card">
            <h4><span data-translate="education.smart.name">Smart Teaching</span> | <span data-translate="education.smart.period">Febrero 2025 - Noviembre 2025</span></h4>
            <p data-translate="education.smart.description">Programa intensivo de perfeccionamiento del idioma inglés</p>
            <p data-translate="education.smart.focus">Nivel objetivo: B2 TOEFL IBT</p>
        </div>

        <div class="academic-training-card">
            <h4><span data-translate="education.university.name">Universidad Tangamanga | Ingenieria en Tecnologías de la información</span> | <span data-translate="education.university.period">Julio 2022 - Agosto 2025</span></h4>
            <p data-translate="education.university.current">Ingeniería en Tecnologías de la Información</p>
            <p data-translate="education.university.focus">Especialización en desarrollo de software y soluciones empresariales</p>
        </div>

        <section class="professional-development-content">
            <h4 data-translate="education.professionalDevelopment">Desarrollo Profesional</h4>

            <div class="professional-development-card">
                <h5 data-translate="education.cluster.name">Cluster Automotriz | Universidad Tangamanga</h5>
                <p data-translate="education.cluster.focus">Enfoque en tendencias tecnológicas del sector automotriz</p>
            </div>
        </section>
    </section>

    <section class="certificates-content" id="certificates-content">
        <h4 data-translate="education.certificates.title">Certificados</h4>

        <div class="certificates-grid">

            <div class="certificate-card" data-certificate="forge_insignia">
                <div class="certificate-image-container">
                    <img src="~/images/certificates/forge_orientacionallogro.webp" alt="Insignia Forge Orientacion al Logro" data-translate-alt="insignia.forge.orientacion.al.logro.alt">
                </div>
                <div class="certificate-info">
                    <p data-translate="insignia.forge.orientacion.al.logro.f_title">Forge</p>
                    <p data-translate="insignia.forge.orientacion.al.logro.name">Orientación al Logro</p>
                    <span data-translate="education.forge.orientacion.al.logro.date">Enero 2026</span>
                </div>
            </div>

            <div class="certificate-card" data-certificate="forge_insignia">
                <div class="certificate-image-container">
                    <img src="~/images/certificates/forge_liderazgoPersonal.webp" alt="Insignia Forge Liderazgo Personal" data-translate-alt="insignia.forge.liderazgo.personal.alt">
                </div>
                <div class="certificate-info">
                    <p data-translate="insignia.forge.liderazgo.personal.f_title">Forge</p>
                    <p data-translate="insignia.forge.liderazgo.personal.name">Liderazgo Personal</p>
                    <span data-translate="education.certificates.forge.liderazgo.date">Enero 2026</span>
                </div>
            </div>

            <div class="certificate-card" data-certificate="JS_Udemy_Certificate">
                <div class="certificate-image-container">
                    <img src="~/images/certificates/js_desde_principiante_a_experto.webp" alt="JavaScript Udemy Certificate" data-translate-alt="education.certificates.js.alt">
                </div>
                <div class="certificate-info">
                    <p data-translate="education.certificates.js.name">JavaScript desde Principiante hasta Experto</p>
                    <span data-translate="education.certificates.js.date">Octubre 2025</span>
                </div>
            </div>

            <div class="certificate-card" data-certificate="Python_Udemy_Certificate">
                <div class="certificate-image-container">
                    <img src="~/images/certificates/python_desde_cero.webp" alt="Python for Data Science Udemy Certificate" data-translate-alt="education.certificates.python.alt">
                </div>
                <div class="certificate-info">
                    <p data-translate="education.certificates.python.datascience.name">Python desde Cero + Data Analysis y Matplot</p>
                    <span data-translate="education.certificates.python.datascience.date">Marzo 2025</span>
                </div>
            </div>

            <div class="certificate-card" data-certificate="mos_excel">
                <div class="certificate-image-container">
                    <img src="~/images/certificates/excel_mos.webp" alt="Excel MOS Certificate" data-translate-alt="education.certificates.excel.alt">
                </div>
                <div class="certificate-info">
                    <p data-translate="education.certificates.excel.name">Excel Microsoft Office Specialist (MOS)</p>
                    <span data-translate="education.certificates.excel.date">Diciembre 2019</span>
                </div>
            </div>

            <div class="certificate-card" data-certificate="mos_word">
                <div class="certificate-image-container">
                    <img src="~/images/certificates/word_mos.webp" alt="Word MOS Certificate" data-translate-alt="education.certificates.word.alt">
                </div>
                <div class="certificate-info">
                    <p data-translate="education.certificates.word.name">Word Microsoft Office Specialist (MOS)</p>
                    <span data-translate="education.certificates.word.date">Octubre 2019</span>
                </div>
            </div>

            <div class="certificate-card" data-certificate="mos_powerpoint">
                <div class="certificate-image-container">
                    <img src="~/images/certificates/powerpoint_mos.webp" alt="PowerPoint MOS Certificate" data-translate-alt="education.certificates.powerpoint.alt">
                </div>
                <div class="certificate-info">
                    <p data-translate="education.certificates.powerpoint.name">PowerPoint Microsoft Office Specialist (MOS)</p>
                    <span data-translate="education.certificates.powerpoint.date">Septiembre 2019</span>
                </div>
            </div>
        </div>
    </section>
</div>

<div class="certificate-modal" id="certificateModal">
    <div class="modal-content">
        <button class="modal-close-btn" id="certificateModalCloseBtn" aria-label="Cerrar" data-translate-aria="modal.close">
            <svg viewBox="0 0 24 24" fill="none">
                <path d="M18 6L6 18M6 6l12 12" />
            </svg>
        </button>
        <img src="" alt="Certificado ampliado" id="certificateModalImage" data-translate-alt="education.certificates.modal.imageAlt">
        <div class="certificate-modal-info">
            <h3 id="certificateModalTitle"></h3>
            <p id="certificateModalDate"></p>
        </div>
    </div>
</div>