<h2>Experiencia</h2>

<div class="project-filter">
    <button class="project-filter-btn active" id="professional-work-btn" data-translate="projects.professional">Trabajos</button>
    <button class="project-filter-btn" id="personal-project-btn" data-translate="projects.personal">Proyectos Personales</button>
</div>

<section class="carouseles-container">

    <!-- Carrusel de Professional Work -->
    <div class="professional-work">
        <div class="carousel-professional-work-container">
            <!-- CHEVRONES DE NAVEGACIÓN -->
            <button class="carousel-professional-work-arrow carousel-arrow left" aria-label="Anterior">
                <svg viewBox="0 0 24 24">
                    <path d="M15.41 7.41L14 6l-6 6 6 6 1.41-1.41L10.83 12z" />
                </svg>
            </button>
            <button class="carousel-professional-work-arrow carousel-arrow right" aria-label="Siguiente">
                <svg viewBox="0 0 24 24">
                    <path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z" />
                </svg>
            </button>

            <!-- PISTA DE TARJETAS -->
            <div class="carousel-track carousel-professional-work-track">
                <!-- TARJETAS ORIGINALES -->
                <div class="carousel-professional-work-card" data-project="Daikin">
                    <img src="~/images/projects/Daikin/cover.webp"
                         alt="Daikin">
                    <div class="work-information-content">
                        <h3>Daikin</h3>
                        <p>Septiembre 2024 - Diciembre 2025</p>
                        <p>Periodo de Practicas</p>
                    </div>
                </div>
            </div>

            <!-- PAGINACIÓN -->
            <div class="carousel-pagination carousel-professional-work-pagination">
                <span class="current">1</span>/<span class="total">1</span>
            </div>
        </div>
    </div>



    <!-- Carrusel de Personal Projects -->
    <div class="personal-project">
        <div class="carousel-personal-project-container">
            <!-- CHEVRONES DE NAVEGACIÓN -->
            <button class="carousel-personal-project-arrow carousel-arrow left" aria-label="Anterior">
                <svg viewBox="0 0 24 24">
                    <path d="M15.41 7.41L14 6l-6 6 6 6 1.41-1.41L10.83 12z" />
                </svg>
            </button>
            <button class="carousel-personal-project-arrow carousel-arrow right" aria-label="Siguiente">
                <svg viewBox="0 0 24 24">
                    <path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z" />
                </svg>
            </button>

            <!-- PISTA DE TARJETAS -->
            <div class="carousel-track carousel-personal-project-track">
                <!-- TARJETAS ORIGINALES -->
                <div class="carousel-personal-project-card carousel-card" data-project="devportfolio">
                    <img src="~/images/projects/DevPortfolio/cover.webp"
                         alt="devportfolio">
                    <div class="personal-project-content">
                        <h3>DevPortfolio</h3>
                        <p>Portafolio profesional de desarrollador con diseño espacial y glasmorfismo</p>
                    </div>
                </div>

                <div class="carousel-personal-project-card carousel-card" data-project="bookshelf">
                    <img src="~/images/projects/BookShelf/cover.webp"
                         alt="bookshelf">
                    <div class="personal-project-content">
                        <h3>BookShelf</h3>
                        <p>Portafolio profesional de desarrollador con diseño espacial y glasmorfismo</p>
                    </div>
                </div>

                <div class="carousel-personal-project-card carousel-card" data-project="prosalud">
                    <img src="~/images/projects/proSalud/cover.webp"
                         alt="prosalud">
                    <div class="personal-project-content">
                        <h3>ProSalud</h3>
                        <p>Sistema de Salud para hospitales</p>
                    </div>
                </div>
            </div>

            <!-- PAGINACIÓN -->
            <div class="carousel-pagination carousel-personal-project-pagination">
                <span class="current">1</span>/<span class="total">3</span>
            </div>
        </div>
    </div>
</section>



@* Información de las tarjetas *@
<div class="carousel-information-container">

    @* Daikin *@
    <div class="project-info-card active" id="Daikin-info">
        <h2>Daikin Manufacturing México</h2>
        <p>
            Experiencia profesional brindando soporte y desarrollo para una aplicación que utiliza el modelo MVC y SQL Server. 
            Desarrollo y mantenimiento de API y bases de datos para sistemas internos.
        </p>

        <h3>Caracteristicas Principales</h3>

        <ul>
            <li>
                <p>Mantenimiento y mejora de las aplicaciones existentes</p>
            </li>
            <li>
                <p>Desarrollo de nuevas funcionalidades según los requisitos</p>
            </li>
            <li>
                <p>Optimización de consultas SQL y procedimientos almacenados</p>
            </li>
            <li>
                <p>Implementación de mejoras en la interfaz de usuario</p>
            </li>
            <li>
                <p>Colaboración en equipo mediante metodologías ágiles</p>
            </li>
        </ul>

        <div class="lenguages-tech">
            <p>
                <span>Tecnologias implementadas</span>: ASP.NET MVC, C#, JavaScript, HTML, Bootstrap, 
                Oracle SQL, SQL Server, Oracle, SAP, JQuery y archivos JSon
            </p>
        </div>

        <h3>Retos presentados</h3>

        <p>Adaptación de requisitos para entornos empresariales</p>
        <p>Trabajo en equipo</p>
        <p>Mejora constante</p>

        @* Images Projects Section *@
        <h3>Proyectos realizados</h3>
        <div class="img-project-container">

            @* OverTime Request *@
            <div class="project-info">

                <div class="left-pnl img-pnl">
                    <img src="~/images/projects/Daikin/overimeRequest page.webp"
                         alt="OverTime Request maintenance">
                </div>

                <div class="right-pnl info-pnl">
                    <h4>Aplicacion de escritorio 'OverTime Request'</h4>
                    <p>
                        Estuve dando soporte y mantenimiento a esta sección de la aplicación que se encarga de calcular costos
                        de los tiempos extra para los trabajadores en producción, estos costos van dirigidos a la comida y transporte que necesita
                        y calcula un estimado.
                    </p>
                </div>
            </div>

            @* Etiquetas *@
            <div class="project-info">
                <div class="left-pnl img-pnl">
                    <img src="~/images/projects/Daikin/Etiquetas.webp"
                         alt="Etiquetas desktop app">
                </div>
                
                <div class="right-pnl info-pnl">
                    <h4>Aplicacion de escritorio 'Etiquetas'</h4>
                    <p>
                        Aplicacion web con el proposito de llevar un registro de cada Master Label con error,
                        con la finalidad de identificar patrones y asi, encontrar la causa del problema.
                    </p>
                </div>
            </div>

            @* Master Label *@
            <div class="project-info">
                <div class="left-pnl img-pnl">
                    <img src="~/images/projects/Daikin/MasterLabel.webp"
                         alt="MasterLabel register app">
                </div>

                <div class="right-pnl info-pnl">
                    <h4>Aplicacion web 'Master Label'</h4>
                    <p>
                        Aplicacion web con el proposito de llevar un registro de cada Master Label con error,
                        con la finalidad de identificar patrones y asi, encontrar la causa del problema.
                    </p>
                </div>
            </div>

            @* Budget Control *@
            <div class="project-info">

                <div class="left-pnl img-pnl">
                    <img src="~/images/projects/Daikin/budgetControl.webp"
                         alt="OverTime Request maintenance">
                </div>

                <div class="right-pnl info-pnl">
                    <h4>Aplicacion web 'Budget Control'</h4>
                    <p>
                        Estuve dando soporte y mantenimiento a esta sección de la aplicación que se encarga de calcular costos
                        de los tiempos extra para los trabajadores en producción, estos costos van dirigidos a la comida y transporte que necesita
                        y calcula un estimado.
                    </p>
                </div>
            </div>
        </div>
    </div>


    @* DevPortfolio project *@
    <div class="project-info-card" id="devportfolio-info">
        <h2>DevPortfolio</h2>
        <p>
            Proyecto de portafolio web profesional desarrollado con un diseño unico que combina el diseño espacial con efectos de vidrio esmerilado, 
            que muestra habilidades, proyectos y experiencia profesional en un proyecto visual e interactivo.
        </p>

        <h3>Caracteristicas Principales</h3>

        <ul>
            <li>
                <p>Diseño espacial con estrellas y animacion de estrella fugaz</p>
            </li>
            <li>
                <p>Interfaz con efecto moderno estilo de Glasmorphismo</p>
            </li>
            <li>
                <p>Sistema de Vistas parciales para el sistema de navegacion dynamica</p>
            </li>
            <li>
                <p>Carrusel de proyectos interactivos</p>
            </li>
            <li>
                <p>Links de redes sociales con efectos animados</p>
            </li>
            <li>
                <p>Diseño responsivo completo</p>
            </li>
            <li>
                <p>Animaciones y transiciones suaves</p>
            </li>
        </ul>

        <div class="lenguages-tech">
            <p>
                <span>Tecnologias implementadas</span>: ASP.NET MVC, C#, JavaScript, HTML5, CSS3, jQuery
            </p>
        </div>

        <h3>Retos presentados</h3>

        <p>Animaciones de espacio para el fondo</p>
        <p>Desarrollo de un carrusel personalizado para una vista previa de los proyectos</p>
        <p>Integracion de efectos de vidrio esmerilado para mantener el diseño</p>
        <p>Sistema de gestion de transiciones en la sección de navegación</p>

        @* Images Section *@
        <div class="img-project-container">
            <img src="~/images/projects/DevPortfolio/interface.webp"
                 alt="DevPortfolio interface app">
        </div>
    </div>

    @* proSalud *@
    <div class="project-info-card" id="prosalud-info">
        <h2>ProSalud -Sistema de gestion medica</h2>
        <p>
            Plataforma completa para la gestión de consultorios médicos que automatiza los procesos administrativos y clínicos,
            desde la programación de citas hasta la gestión de historiales médicos y facturación.
        </p>
        <h3>Caracteristicas Principales</h3>

        <ul>
            <li>
                <p>Gestión de historiales clínicos y de pacientes</p>
            </li>
            <li>
                <p>Sistema de citas y agenda médica</p>
            </li>
            <li>
                <p>Control de personal y especialidades</p>
            </li>
            <li>
                <p>Sistema de facturación y programa VIP</p>
            </li>
            <li>
                <p>
                    Diagnóstico basado en la CIE-10
                </p>
            </li>
            <li>
                <p>Seguimiento de tratamientos</p>
            </li>
        </ul>

        <div class="lenguages-tech">
            <p><span>Technologies</span> ASP.NET MVC, C#, SQL Server, Dapper, jQuery, Bootstrap, HTML5, CSS3, JavaScript</p>
        </div>

        <h3>Retos presentados</h3>

        <p>Investigación de funcionalidad para una libreria</p>
        <p>investigación Bootstrap para el diseño</p>
        <p>Creación de la base de datos</p>

        @* Images Section *@
        <div class="img-project-container">
            <img src="~/images/projects/proSalud/page.webp"
                 alt="ProSalud app interface">
        </div>
    </div>

    @* BookShelf *@
    <div class="project-info-card" id="bookshelf-info">
        <h2>BookShelf</h2>
        <p>
            Proyecto personal de gestion de una libreria que sigue una organizacion y catalogo de libros, autores y generos literarios,
            una solucion completa para mantener organizado una colección de libros
        </p>
        <h3>Caracteristicas Principales</h3>

        <ul>
            <li>
                <p>Gestión de libros, autores y géneros</p>
            </li>
            <li>
                <p>Interfaz intuitiva con paneles expandibles</p>
            </li>
            <li>
                <p>Sistema de formularios dinámicos</p>
            </li>
            <li>
                <p>Carga asíncrona de datos mediante AJAX</p>
            </li>
            <li>
                <p>Clasificación y búsqueda avanzadas</p>
            </li>
            <li>
                <p>Sistema de etiquetado personalizado</p>
            </li>
        </ul>

        <div class="lenguages-tech">
            <p><span>Technologies</span> ASP.NET MVC, C#, SQL Server, Dapper, jQuery, Bootstrap, HTML5, CSS3, JavaScript</p>
        </div>

        <h3>Retos presentados</h3>

        <p>Investigación de funcionalidad para una libreria</p>
        <p>investigación Bootstrap para el diseño</p>
        <p>Creación de la base de datos</p>

        @* Images Section *@
        <div class="img-project-container">
            <img src="~/images/projects/BookShelf/page.webp"
                 alt="BookShelf interface app">
        </div>
    </div>
</div>


@* ModalDialog *@
<div class="image-modal" id="imageModal">
    <div class="modal-content">
        <button class="modal-close-btn" id="modalCloseBtn" aria-label="Cerrar">
            <svg viewBox="0 0 24 24" fill="none">
                <path d="M18 6L6 18M6 6l12 12" />
            </svg>
        </button>
        <img src="" alt="Imagen ampliada" id="modalImage">
    </div>
</div>