<h2 data-translate="projects.title">Experiencia</h2>

<div class="project-filter">
    <button class="project-filter-btn active" id="professional-work-btn" data-translate="projects.professional">Trabajos</button>
    <button class="project-filter-btn" id="personal-project-btn" data-translate="projects.personal">Proyectos Personales</button>
</div>

<section class="carouseles-container">

    <!-- Carrusel de Professional Work -->
    <div class="professional-work">
        <div class="carousel-professional-work-container">
            <!-- CHEVRONES DE NAVEGACIÓN -->
            <button class="carousel-professional-work-arrow carousel-arrow left" aria-label="Anterior">
                <svg viewBox="0 0 24 24">
                    <path d="M15.41 7.41L14 6l-6 6 6 6 1.41-1.41L10.83 12z" />
                </svg>
            </button>
            <button class="carousel-professional-work-arrow carousel-arrow right" aria-label="Siguiente">
                <svg viewBox="0 0 24 24">
                    <path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z" />
                </svg>
            </button>

            <!-- PISTA DE TARJETAS -->
            <div class="carousel-track carousel-professional-work-track">
                <!-- TARJETAS ORIGINALES -->
                @* Daikin *@
                <div class="carousel-professional-work-card" data-project="Daikin">
                    <img src="~/images/projects/Daikin/cover.webp"
                         alt="Daikin">
                    <div class="work-information-content">
                        <h3 data-translate="projects.daikin.name">Daikin</h3>
                        <p data-translate="projects.daikin.period">Septiembre 2024 - Diciembre 2025</p>
                        <p data-translate="projects.daikin.type">Periodo de Practicas</p>
                    </div>
                </div>
            </div>

            <!-- PAGINACIÓN -->
            <div class="carousel-pagination carousel-professional-work-pagination">
                <span class="current">1</span>/<span class="total">1</span>
            </div>
        </div>
    </div>



    <!-- Carrusel de Personal Projects -->
    <div class="personal-project">
        <div class="carousel-personal-project-container">
            <!-- CHEVRONES DE NAVEGACIÓN -->
            <button class="carousel-personal-project-arrow carousel-arrow left" aria-label="Anterior">
                <svg viewBox="0 0 24 24">
                    <path d="M15.41 7.41L14 6l-6 6 6 6 1.41-1.41L10.83 12z" />
                </svg>
            </button>
            <button class="carousel-personal-project-arrow carousel-arrow right" aria-label="Siguiente">
                <svg viewBox="0 0 24 24">
                    <path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z" />
                </svg>
            </button>

            <!-- PISTA DE TARJETAS -->
            <div class="carousel-track carousel-personal-project-track">
                <!-- TARJETAS ORIGINALES -->
                @* DevPortfolio *@
                <div class="carousel-personal-project-card carousel-card" data-project="devportfolio">
                    <img src="~/images/projects/DevPortfolio/portfolio-cover.webp"
                         alt="devportfolio">
                    <div class="personal-project-content">
                        <h3 data-translate="projects.devportfolio.name">DevPortfolio</h3>
                        <p data-translate="projects.devportfolio.shortDescription">Portafolio profesional de desarrollador con diseño espacial y glasmorfismo</p>
                    </div>
                </div>

                @* Datathon 2022 *@
                <div class="carousel-personal-project-card carousel-card" data-project="datathon2022">
                    <img src="~/images/projects/Datathons/WiDS.webp"
                         alt="WiDS For Woman Datathon2022">
                    <div class="personal-project-content">
                        <h3 data-translate="projects.datathon2022.name">WiDS Datathon 2022</h3>
                        <p data-translate="projects.datathon2022.shortDescription">Datathon enfocado en temas de salud</p>
                    </div>
                </div>

                @* Datathon 2025 *@
                <div class="carousel-personal-project-card carousel-card" data-project="datathon2025">
                    <img src="~/images/projects/Datathons/WiDS.webp"
                         alt="WiDS For Woman Datathon 2025">
                    <div class="personal-project-content">
                        <h3 data-translate="projects.datathon2025.name">WiDS Datathon 2025</h3>
                        <p data-translate="projects.datathon2025.shortDescription">Datathon enfocado en temas de salud</p>
                    </div>
                </div>

                @* BookShelf *@
                <div class="carousel-personal-project-card carousel-card" data-project="bookshelf">
                    <img src="~/images/projects/BookShelf/cover.webp"
                         alt="bookshelf">
                    <div class="personal-project-content">
                        <h3 data-translate="projects.bookshelf.name">BookShelf</h3>
                        <p data-translate="projects.bookshelf.shortDescription">Portafolio profesional de desarrollador con diseño espacial y glasmorfismo</p>
                    </div>
                </div>

                @* proSalud *@
                <div class="carousel-personal-project-card carousel-card" data-project="prosalud">
                    <img src="~/images/projects/proSalud/cover.webp"
                         alt="prosalud">
                    <div class="personal-project-content">
                        <h3 data-translate="projects.prosalud.name">ProSalud</h3>
                        <p data-translate="projects.prosalud.shortDescription">Sistema de Salud para hospitales</p>
                    </div>
                </div>
            </div>

            <!-- PAGINACIÓN -->
            <div class="carousel-pagination carousel-personal-project-pagination">
                <span class="current">1</span>/<span class="total">5</span>
            </div>
        </div>
    </div>
</section>



@* Información de las tarjetas *@
<div class="carousel-information-container">

    @* Daikin *@
    <div class="project-info-card active" id="Daikin-info">
        <h2 data-translate="projects.daikin.name">Daikin Manufacturing México</h2>
        <p data-translate="projects.daikin.description">
            Experiencia profesional brindando soporte y desarrollo para una aplicación que utiliza el modelo MVC y SQL Server.
            Desarrollo y mantenimiento de API y bases de datos para sistemas internos.
        </p>

        <h3 data-translate="projects.daikin.featuresTitle">Caracteristicas Principales</h3>

        <ul>
            <li>
                <p data-translate="projects.daikin.feature1">Mantenimiento y mejora de las aplicaciones existentes</p>
            </li>
            <li>
                <p data-translate="projects.daikin.feature2">Desarrollo de nuevas funcionalidades según los requisitos</p>
            </li>
            <li>
                <p data-translate="projects.daikin.feature3">Optimización de consultas SQL y procedimientos almacenados</p>
            </li>
            <li>
                <p data-translate="projects.daikin.feature4">Implementación de mejoras en la interfaz de usuario</p>
            </li>
            <li>
                <p data-translate="projects.daikin.feature5">Colaboración en equipo mediante metodologías ágiles</p>
            </li>
        </ul>

        <div class="lenguages-tech">
            <p>
                <span data-translate="projects.daikin.techTitle">Tecnologias implementadas</span>:
                <span data-translate="projects.daikin.techList">
                    ASP.NET MVC, C#, JavaScript, HTML, Bootstrap,
                    Oracle SQL, SQL Server, Oracle, SAP, JQuery y archivos JSon
                </span>
            </p>
        </div>

        <h3 data-translate="projects.daikin.challengesTitle">Retos presentados</h3>

        <p data-translate="projects.daikin.challenge1">Adaptación de requisitos para entornos empresariales</p>
        <p data-translate="projects.daikin.challenge2">Trabajo en equipo</p>
        <p data-translate="projects.daikin.challenge3">Mejora constante</p>

        @* Images Projects Section *@
        <h3 data-translate="projects.daikin.projectsTitle">Proyectos realizados</h3>
        <div class="img-project-container">

            @* OverTime Request *@
            <div class="project-info">

                <div class="left-pnl img-pnl">
                    <img src="~/images/projects/Daikin/overimeRequest page.webp"
                         alt="OverTime Request maintenance">
                </div>

                <div class="right-pnl info-pnl">
                    <h4 data-translate="projects.daikin.overtime.title">Aplicacion de escritorio 'OverTime Request'</h4>
                    <p data-translate="projects.daikin.overtime.description">
                        Estuve dando soporte y mantenimiento a esta sección de la aplicación que se encarga de calcular costos
                        de los tiempos extra para los trabajadores en producción, estos costos van dirigidos a la comida y transporte que necesita
                        y calcula un estimado.
                    </p>
                </div>
            </div>

            @* Etiquetas *@
            <div class="project-info">
                <div class="left-pnl img-pnl">
                    <img src="~/images/projects/Daikin/Etiquetas.webp"
                         alt="Etiquetas desktop app">
                </div>

                <div class="right-pnl info-pnl">
                    <h4 data-translate="projects.daikin.etiquetas.title">Aplicacion de escritorio 'Etiquetas'</h4>
                    <p data-translate="projects.daikin.etiquetas.description">
                        Etiquetas es una app desarrollada para el area de almacen, con el numero del proveedor permite buscar
                        en Oracle la información necesaria que vendra en la etiqueta, esta etiqueta se acomoda y se manda a imprimir
                        en la impresora correspondiente, los valores de la etiqueta pueden ser modificados desde un archivo de configuraciones .json.
                    </p>
                </div>
            </div>

            @* Master Label *@
            <div class="project-info">
                <div class="left-pnl img-pnl">
                    <img src="~/images/projects/Daikin/MasterLabel.webp"
                         alt="MasterLabel register app">
                </div>

                <div class="right-pnl info-pnl">
                    <h4 data-translate="projects.daikin.masterLabel.title">Aplicacion web 'Master Label'</h4>
                    <p data-translate="projects.daikin.masterLabel.description">
                        Aplicacion web con el proposito de llevar un registro de cada Master Label con error,
                        con la finalidad de identificar patrones y asi, encontrar la causa del problema.
                    </p>
                </div>
            </div>

            @* Budget Control *@
            <div class="project-info">

                <div class="left-pnl img-pnl">
                    <img src="~/images/projects/Daikin/budgetControl.webp"
                         alt="Budget Control maintenance">
                </div>

                <div class="right-pnl info-pnl">
                    <h4 data-translate="projects.daikin.budgetControl.title">Aplicacion web 'Budget Control'</h4>
                    <p data-translate="projects.daikin.budgetControl.description">
                        BudgetControl es una app diseñada para el area de finanzas con el objetivo de reducir tiempos de trabajo, automatizando
                        acciones repetitivas, la app es capaz de combinar dos archivos de excel, extraer lo importante y calcular presupuestos y costos.
                    </p>
                </div>
            </div>
        </div>
    </div>


    @* DevPortfolio project *@
    <div class="project-info-card" id="devportfolio-info">
        <h2 data-translate="projects.devportfolio.name">DevPortfolio</h2>
        <p data-translate="projects.devportfolio.description">
            Proyecto de portafolio web profesional desarrollado con un diseño unico que combina el diseño espacial con efectos de vidrio esmerilado,
            que muestra habilidades, proyectos y experiencia profesional en un proyecto visual e interactivo.
        </p>

        <h3 data-translate="projects.devportfolio.featuresTitle">Caracteristicas Principales</h3>

        <ul>
            <li>
                <p data-translate="projects.devportfolio.feature1">Diseño espacial con estrellas y animacion de estrella fugaz</p>
            </li>
            <li>
                <p data-translate="projects.devportfolio.feature2">Interfaz con efecto moderno estilo de Glasmorphismo</p>
            </li>
            <li>
                <p data-translate="projects.devportfolio.feature3">Sistema de Vistas parciales para el sistema de navegacion dynamica</p>
            </li>
            <li>
                <p data-translate="projects.devportfolio.feature4">Carrusel de proyectos interactivos</p>
            </li>
            <li>
                <p data-translate="projects.devportfolio.feature5">Links de redes sociales con efectos animados</p>
            </li>
            <li>
                <p data-translate="projects.devportfolio.feature6">Diseño responsivo completo</p>
            </li>
            <li>
                <p data-translate="projects.devportfolio.feature7">Animaciones y transiciones suaves</p>
            </li>
        </ul>

        <div class="lenguages-tech">
            <p>
                <span data-translate="projects.devportfolio.techTitle">Tecnologias implementadas</span>:
                <span data-translate="projects.devportfolio.techList">ASP.NET MVC, C#, JavaScript, HTML5, CSS3, jQuery</span>
            </p>
        </div>

        <h3 data-translate="projects.devportfolio.challengesTitle">Retos presentados</h3>

        <p data-translate="projects.devportfolio.challenge1">Animaciones de espacio para el fondo</p>
        <p data-translate="projects.devportfolio.challenge2">Desarrollo de un carrusel personalizado para una vista previa de los proyectos</p>
        <p data-translate="projects.devportfolio.challenge3">Integracion de efectos de vidrio esmerilado para mantener el diseño</p>
        <p data-translate="projects.devportfolio.challenge4">Sistema de gestion de transiciones en la sección de navegación</p>

        @* Images Section *@
        <div class="img-project-container">
            <img src="~/images/projects/DevPortfolio/portfolio-interface.webp"
                 alt="DevPortfolio interface app">
        </div>
    </div>

    @* WiDS Datathon 2022 *@
    <div class="project-info-card" id="datathon2022-info">
        <h2 data-translate="projects.datathon2022.title">WiDS Datathon 2022 – Detección temprana de cáncer de mama</h2>
        <p data-translate="projects.datathon2022.description">
            Participacion en el datathon WiDS 2022 donde el objetivo era desarrollar de un modelo predictivo
            orientado a apoyar la detección temprana del cáncer de mama,
            utilizando datos clínicos y técnicas de aprendizaje para clasificar riesgo de manera precisa y reproducible.
        </p>

        <h3 data-translate="projects.datathon2022.featuresTitle">Características Principales</h3>

        <ul>
            <li>
                <p data-translate="projects.datathon2022.feature1">Limpieza del DataSet para la manipulación de su información</p>
            </li>
            <li>
                <p data-translate="projects.datathon2022.feature2">Modelos de clasificación (árboles y regresión)</p>
            </li>
            <li>
                <p data-translate="projects.datathon2022.feature3">Evaluación con métricas equilibradas para datos desbalanceados (AUC, F1, recall)</p>
            </li>
            <li>
                <p data-translate="projects.datathon2022.feature4">validación cruzada</p>
            </li>
        </ul>

        <div class="lenguages-tech">
            <p>
                <span data-translate="projects.datathon2022.techTitle">Tecnologías implementadas</span>:
                <span data-translate="projects.datathon2022.techList">Jupyter, Python, Pandas, Scikit-learn, NumPy, Matplotlib</span>
            </p>
        </div>

        <h3 data-translate="projects.datathon2022.challengesTitle">Retos presentados</h3>

        <p data-translate="projects.datathon2022.challenge1">Manejo del desbalance de clases en diagnósticos positivos</p>
        <p data-translate="projects.datathon2022.challenge2">Optimización de modelos</p>
        <p data-translate="projects.datathon2022.challenge3">Selección de variables con relevancia clínica</p>
    </div>

    @* WiDS Datathon 2025 *@
    <div class="project-info-card" id="datathon2025-info">
        <h2 data-translate="projects.datathon2025.title">WiDS Datathon 2025 – Detección de TDAH y TDA en mujeres adolescentes</h2>
        <p data-translate="projects.datathon2025.description">
            Participacion en el datathon WiDS 2025 donde el objetivo era desarrollar de un modelo predictivo orientado a
            identificar de forma temprana y precisa patrones asociados a TDAH y TDA en mujeres, especialmente adolescentes,
            un grupo donde los diagnósticos suelen retrasarse por síntomas atípicos y subrepresentación en los datos.
        </p>

        <h3 data-translate="projects.datathon2025.featuresTitle">Características Principales</h3>

        <ul>
            <li>
                <p data-translate="projects.datathon2025.feature1">Limpieza del DataSet para la manipulación de su información</p>
            </li>
            <li>
                <p data-translate="projects.datathon2025.feature2">Procesamiento de datos neurocognitivos y conductuales</p>
            </li>
            <li>
                <p data-translate="projects.datathon2025.feature3">Modelos de clasificación multietiqueta</p>
            </li>
            <li>
                <p data-translate="projects.datathon2025.feature4">Análisis de señales y variables psicológicas</p>
            </li>
            <li>
                <p data-translate="projects.datathon2025.feature5">Entrenamiento con técnicas de regularización para mejorar generalización</p>
            </li>
            <li>
                <p data-translate="projects.datathon2025.feature6">Validación cruzada estratificada por rangos de edad y género</p>
            </li>
        </ul>

        <div class="lenguages-tech">
            <p>
                <span data-translate="projects.datathon2025.techTitle">Tecnologías implementadas</span>:
                <span data-translate="projects.datathon2025.techList">Jupyter, Python, Pandas, Scikit-learn, NumPy, XGBoost</span>
            </p>
        </div>

        <h3 data-translate="projects.datathon2025.challengesTitle">Retos presentados</h3>

        <p data-translate="projects.datathon2025.challenge1">Datos con ruido alto por variabilidad neuropsicológica individual</p>
        <p data-translate="projects.datathon2025.challenge2">Dificultad para separar síntomas superpuestos entre TDA y TDAH</p>
        <p data-translate="projects.datathon2025.challenge3">Desbalance entre clases y perfiles clínicos</p>
        <p data-translate="projects.datathon2025.challenge4">Evaluación del modelo hacia comportamientos masculinos</p>
    </div>

    @* proSalud *@
    <div class="project-info-card" id="prosalud-info">
        <h2 data-translate="projects.prosalud.title">ProSalud -Sistema de gestion medica</h2>
        <p data-translate="projects.prosalud.description">
            Plataforma completa para la gestión de consultorios médicos que automatiza los procesos administrativos y clínicos,
            desde la programación de citas hasta la gestión de historiales médicos y facturación.
        </p>
        <h3 data-translate="projects.prosalud.featuresTitle">Caracteristicas Principales</h3>

        <ul>
            <li>
                <p data-translate="projects.prosalud.feature1">Gestión de historiales clínicos y de pacientes</p>
            </li>
            <li>
                <p data-translate="projects.prosalud.feature2">Sistema de citas y agenda médica</p>
            </li>
            <li>
                <p data-translate="projects.prosalud.feature3">Control de personal y especialidades</p>
            </li>
            <li>
                <p data-translate="projects.prosalud.feature4">Sistema de facturación y programa VIP</p>
            </li>
            <li>
                <p data-translate="projects.prosalud.feature5">Diagnóstico basado en la CIE-10</p>
            </li>
            <li>
                <p data-translate="projects.prosalud.feature6">Seguimiento de tratamientos</p>
            </li>
        </ul>

        <div class="lenguages-tech">
            <p>
                <span data-translate="projects.prosalud.techTitle">Technologies</span>
                <span data-translate="projects.prosalud.techList">ASP.NET MVC, C#, SQL Server, Dapper, jQuery, Bootstrap, HTML5, CSS3, JavaScript</span>
            </p>
        </div>

        <h3 data-translate="projects.prosalud.challengesTitle">Retos presentados</h3>

        <p data-translate="projects.prosalud.challenge1">Investigación de funcionalidad para una libreria</p>
        <p data-translate="projects.prosalud.challenge2">investigación Bootstrap para el diseño</p>
        <p data-translate="projects.prosalud.challenge3">Creación de la base de datos</p>

        @* Images Section *@
        <div class="img-project-container">
            <img src="~/images/projects/proSalud/page.webp"
                 alt="ProSalud app interface">
        </div>
    </div>

    @* BookShelf *@
    <div class="project-info-card" id="bookshelf-info">
        <h2 data-translate="projects.bookshelf.name">BookShelf</h2>
        <p data-translate="projects.bookshelf.description">
            Proyecto personal de gestion de una libreria que sigue una organizacion y catalogo de libros, autores y generos literarios,
            una solucion completa para mantener organizado una colección de libros
        </p>
        <h3 data-translate="projects.bookshelf.featuresTitle">Caracteristicas Principales</h3>

        <ul>
            <li>
                <p data-translate="projects.bookshelf.feature1">Gestión de libros, autores y géneros</p>
            </li>
            <li>
                <p data-translate="projects.bookshelf.feature2">Interfaz intuitiva con paneles expandibles</p>
            </li>
            <li>
                <p data-translate="projects.bookshelf.feature3">Sistema de formularios dinámicos</p>
            </li>
            <li>
                <p data-translate="projects.bookshelf.feature4">Carga asíncrona de datos mediante AJAX</p>
            </li>
            <li>
                <p data-translate="projects.bookshelf.feature5">Clasificación y búsqueda avanzadas</p>
            </li>
            <li>
                <p data-translate="projects.bookshelf.feature6">Sistema de etiquetado personalizado</p>
            </li>
        </ul>

        <div class="lenguages-tech">
            <p>
                <span data-translate="projects.bookshelf.techTitle">Technologies</span>
                <span data-translate="projects.bookshelf.techList">ASP.NET MVC, C#, SQL Server, Dapper, jQuery, Bootstrap, HTML5, CSS3, JavaScript</span>
            </p>
        </div>

        <h3 data-translate="projects.bookshelf.challengesTitle">Retos presentados</h3>

        <p data-translate="projects.bookshelf.challenge1">Investigación de funcionalidad para una libreria</p>
        <p data-translate="projects.bookshelf.challenge2">investigación Bootstrap para el diseño</p>
        <p data-translate="projects.bookshelf.challenge3">Creación de la base de datos</p>

        @* Images Section *@
        <div class="img-project-container">
            <img src="~/images/projects/BookShelf/page.webp"
                 alt="BookShelf interface app">
        </div>
    </div>
</div>

@* ModalDialog *@
<div class="image-modal" id="imageModal">
    <div class="modal-content">
        <button class="modal-close-btn" id="modalCloseBtn" aria-label="Cerrar" data-translate-aria="modal.close">
            <svg viewBox="0 0 24 24" fill="none">
                <path d="M18 6L6 18M6 6l12 12" />
            </svg>
        </button>
        <img src="" alt="Imagen ampliada" id="modalImage" data-translate-alt="modal.imageAlt">
    </div>
</div>