<h2 data-translate="skills.title">Habilidades</h2>

<section class="skill-filter filter">
	<button class="hard-skills active" id="hard-skills" data-translate="skills.filterHard">Habilidades Técnicas</button>
	<button class="soft-skills" id="soft-skills" data-translate="skills.filterSoft">Habilidades Blandas</button>
</section>

<div class="skills-content">
	@* HardSkills *@
	<section class="hard-skills-content active" id="hard-skills-content">
		<h4 data-translate="skills.hardSkills.title">Habilidades Técnicas</h4>

		<ul>
			<li>
				<h5>Desarrollo Web</h5>
				<ul>
					<li>
						<p data-translate="skills.hardSkills.mvc">Modelo Vista Controlador (MVC) ASP .Net</p>
					</li>
					<li>
						<p>C#</p>
					</li>
					<li>
						<p>HTML</p>
					</li>
					<li>
						<p>CSS</p>
					</li>
					<li>
						<p>JavaScript</p>
					</li>
					<li>
						<p>Bootstrap</p>
					</li>
				</ul>
			</li>

			<li>
				<h5>Ciencia de Datos</h5>

				<ul>
					<li>
						<p>Python</p>
					</li>
					<li>
						<p>Pandas</p>
					</li>
					<li>
						<p>NumPy</p>
					</li>
					<li>
						<p>Matplotlib</p>
					</li>
					<li>
						<p>Seaborn</p>
					</li>
					<li>
						<p>Power BI</p>
					</li>
					<li>
						<p>Excel</p>
					</li>
				</ul>
			</li>

			<li>
				<h5>Bases de Datos</h5>
				<ul>
					<li>SQL Server</li>
				</ul>
				<ul>
					<li>MySQL</li>
				</ul>
				<ul>
					<li>Oracle SQL</li>
				</ul>
				<ul>
					<li>Derby DB</li>
				</ul>
			</li>

			<li>
				<h5>Desarrollo de escritorio</h5>
				<ul>
					<li>
						<p>C#</p>
					</li>
					<li>
						<p>Java</p>
					</li>
				</ul>
			</li>

			<li>
				<h5>Control de Versiones</h5>
				<ul>
					<li>
						<p>Git</p>
					</li>
					<li>
						<p>GitHub</p>
					</li>
				</ul>
			</li>

			<li>
				<h5>Programación General</h5>
				<ul>
					<li>
						<p>C</p>
					</li>
					<li>
						<p>C++</p>
					</li>
				</ul>
			</li>
		</ul>
	</section>


	@* SoftSkills *@
	<section class="soft-skills-content" id="soft-skills-content">
		<h4 data-translate="skills.softSkills.title">Habilidades Blandas</h4>

		<ul>
			<li>
				<p><strong data-translate="skills.softSkills.criticalThinking">Pensamiento Crítico</strong></p>
			</li>

			<li>
				<p><strong data-translate="skills.softSkills.analyticalThinking">Pensamiento Analítico</strong></p>
			</li>

			<li>
				<p><strong data-translate="skills.softSkills.communication">Comunicación Efectiva</strong></p>
			</li>

			<li>
				<p data-translate="skills.softSkills.teamwork">Trabajo en Equipo</p>
			</li>

			<li>
				<p data-translate="skills.softSkills.adaptability">Adaptabilidad</p>
			</li>

			<li>
				<p data-translate="skills.softSkills.timeManagement">Gestión del Tiempo</p>
			</li>

			<li>
				<p data-translate="skills.softSkills.attention">Atención al detalle</p>
			</li>

			<li>
				<p data-translate="skills.softSkills.persistence">Persistencia</p>
			</li>

			<li>
				<p data-translate="skills.softSkills.workEthic">Ética Laboral</p>
			</li>
		</ul>
	</section>
</div>