:root {
    --starFieldWidth: 2560px;
    --starFieldHeight: 2560px;
    --smallStarScrollSpeed: 90s;
    --mediumStarScrollSpeed: 130s;
    --largeStarScrollSpeed: 200s;
    --shootingStarDuration: 1.5s;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, #01001a, #0a032f);
}