<h2>Habilidades</h2>

<section class="skill-filter filter">
	<button class="hard-skills active" id="hard-skills">Habilidades Tecnicas</button>
	<button class="soft-skills" id="soft-skills">Habilidades Blandas</button>
</section>

<div class="skills-content">
	@* HardSkills *@
	<section class="hard-skills-content active" id="hard-skills-content">
		<h4>Habilidades Tecnicas</h4>

		<ul>
			<li>
				<p>Modelo Vista Controlador (MVC) ASP .Net</p>
			</li>

			<li>
				<p>C, C++ y C#</p>
			</li>

			<li>
				<p>Python</p>
			</li>

			<li>
				<p>Java</p>
			</li>

			<li>
				<p>HTML, CSS, JS y Bootstrap</p>
			</li>

			<li>
				<p>Oracle SQL, SQL Server, MySQL y Derby DB</p>
			</li>

			<li>
				<p>Power BI y Excel</p>
			</li>

			<li>
				<p>Git y Github</p>
			</li>

			<li>
				<p>Pandas, NumPy, Matplotlib y Seaborn</p>
			</li>
		</ul>
	</section>


	@* SoftSkills *@
	<section class="soft-skills-content" id="soft-skills-content">
		<h4>Habilidades Blandas</h4>

		<ul>
			<li>
				<p><strong>Pensamiento Crítico</strong></p>
			</li>

			<li>
				<p><strong>Pensamiento Analitico</strong></p>
			</li>

			<li>
				<p><strong>Comunicación Efectiva</strong></p>
			</li>

			<li>
				<p>Trabajo en Equipo</p>
			</li>

			<li>
				<p>Adaptabilidad</p>
			</li>

			<li>
				<p>Gestión del Tiempo</p>
			</li>

			<li>
				<p>Atencion al detalle</p>
			</li>

			<li>
				<p>Persistencia</p>
			</li>

			<li>
				<p>Ética Laboral</p>
			</li>
		</ul>
	</section>
</div>